<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Livros de Java, Android, iPhone, PHP e Ruby e muito mais - Casa do Código</title>
</head>
<body>
    <h1>Oi</h1>
    <table>
        <tbody>
            <tr>
                <td>Java 8 Prático</td>
                <td>Certificação OCJP</td>
            </tr>
            <tr>
                <td>TDD na Prática - Java</td>
                <td>Google Android</td>
            </tr>
        </tbody>
    </table>
</body>
</html>